@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-tomorrow), sans-serif;
  --font-mono: var(--font-tomorrow), monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0px;
  --background: #ffffff;
  --foreground: #052e16;
  --card: #ffffff;
  --card-foreground: #052e16;
  --popover: #ffffff;
  --popover-foreground: #052e16;
  --primary: #14532d;
  --primary-foreground: #ffffff;
  --secondary: #f0fdf4;
  --secondary-foreground: #052e16;
  --muted: #f0fdf4;
  --muted-foreground: #15462a;
  --accent: #dcfce7;
  --accent-foreground: #052e16;
  --destructive: #d32f2f;
  --border: #bbdfc5;
  --input: #bbdfc5;
  --ring: #166534;
  --chart-1: #166534;
  --chart-2: #15803d;
  --chart-3: #22c55e;
  --chart-4: #86efac;
  --chart-5: #dcfce7;
  --sidebar: #f7fdf9;
  --sidebar-foreground: #052e16;
  --sidebar-primary: #166534;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #dcfce7;
  --sidebar-accent-foreground: #14532d;
  --sidebar-border: #bbdfc5;
  --sidebar-ring: #166534;
}

.dark {
  --background: #030905;
  --foreground: #81d584;
  --card: #050e08;
  --card-foreground: #81d584;
  --popover: #050e08;
  --popover-foreground: #81d584;
  --primary: #4db956;
  --primary-foreground: #030905;
  --secondary: #06150c;
  --secondary-foreground: #7bc27e;
  --muted: #06150c;
  --muted-foreground: #4e7f58;
  --accent: #071b0c;
  --accent-foreground: #81d584;
  --destructive: #944b40;
  --border: #132717;
  --input: #132717;
  --ring: #419547;
  --chart-1: #4db956;
  --chart-2: #33854a;
  --chart-3: #1c5434;
  --chart-4: #173523;
  --chart-5: #0a1a10;
  --sidebar: #040c06;
  --sidebar-foreground: #81d584;
  --sidebar-primary: #4db956;
  --sidebar-primary-foreground: #030905;
  --sidebar-accent: #071b0c;
  --sidebar-accent-foreground: #81d584;
  --sidebar-border: #132717;
  --sidebar-ring: #419547;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-tomorrow), sans-serif;
    font-weight: 300;
  }
}
